
.grid-container{
display: grid;
background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
/*background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
min-height: 100vh;
grid-template-columns: minmax(140px, 200px) 3fr;
grid-template-rows:  minmax(10px,60px) 3fr minmax(10px, 60px);
gap: 5px;
}

.header-nav{
display: flex;
background-color: blue;
flex-direction: row;
grid-row: 1;
grid-column: 2;
}

.chatBox{
    display: flex;
    background-color: yellow;
    grid-row: 2/3;
    grid-column: 2;
}

.sidebar{
display: flex;
background-color: red;
grid-column: 1;
grid-row: 1/4;
}

.footlower{
    display: flex;
    background-color: purple;
    grid-column: 2;
    grid-row: 3;
}


