
.grid-container{
display: grid;

/*background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
/*background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);  make green an option later*/ 

min-height: 100vh;
grid-template-columns: 80px 3fr;
grid-template-rows:  minmax(10px,60px) 3fr minmax(10px, 30px);
background-color: #F5F7F5;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

}

.header-nav{
display: flex;
flex-direction: row;
grid-row: 1;
grid-column: 2;
}


.chatBox{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 2;
}

.sidebar{
display: flex;
background-color: #242424; /* possibly switch to this */
background: linear-gradient(to bottom, #f5f7fa 0%, #e8ebef 100%);
background: linear-gradient(to bottom, #f0f2f5 0%, #e4e7eb 100%);
border-right: 1px solid #d1d5db;
flex-direction: column;
grid-column: 1;
grid-row: 1/4;
}

.footlower{
    display: flex;
    flex-direction: row;
    justify-content: center;
   border-top: solid 0.3px;
    grid-column: 2;
    grid-row: 3;
}


