.sidebar-contain{
    display: flex;
    flex-direction: column;
    gap: 40px;
 
    align-items: center;
    margin: 5px;
    height: 100%; /* wtach out for this line it could cause problems later*/
}
.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-box p{
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 50;
    font-size: 12px;
    letter-spacing: 1px;
    
}
.logo-box img{
    margin-bottom: -10px;
    height: 30px;
 width: 30px;
filter: brightness(0) saturate(100%);
}

.logo-box img:hover {
   cursor: pointer;
}

.bottom-boxes{
        margin-top: auto;
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
}
