.Chatbox-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #222;
height: 100%;

}


.Chatting-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;

}




.Chatbox-container h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
}

.Chatbox-container h4 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 3px;
}
.box-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;


}




.input-contents{
    position: relative;
}
.input-contents textarea{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 650px;
    height: 60px;
    align-items: flex-start;
    text-align: start;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    resize: none;
}

.input-icons{
display: flex;
gap: 10px;
position: absolute;
padding: 0px;
top: 0;
  right: 0; 
}

.input-icons img{
    height: 77px;
    fill: white;
    border-radius: 5px;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    cursor: pointer;
    
}




.box-hero h1{
    margin-bottom: -10px;

}

.communityEntries{
display: flex;
flex-direction: column;
gap: 10px;

}

.pLogo{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: -45px;
    font-size: 20px;
        color: #222
}

.entries{
    display: flex;
    flex-direction: row;
    gap: 10px;
        color: #222
}

.entries h5{
    cursor: pointer;
    border: solid 1px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    transition: font-size 0.3s ease-in-out;
}

.entries h5:hover{
   font-size: 18px;
}

.Chatting-container .communityEntries,.box-hero {
    display: none;
}

.Chatbox-container{

}

.allChats{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 700px;
    height: 600px;
    overflow-y: scroll;
    -ms-overflow-style: none;
     scrollbar-width: none;
     gap: 20px;
    margin-left: 35px; /* this determines alignment with the chatbox becareful */
  
}

.allChats::-webkit-scrollbar{
    display: none;
}


.userText{
margin-left: auto;
background-color: #525252;
color: white;
border-radius: 20px;
padding: 10px;
text-align: start;
width: 40%;
letter-spacing: 1px;
font-family: "Inter", sans-serif;
font-weight: 50;
font-size: 12px;
}

.aiResponse{
background-color: #525252;
color: white;
border-radius: 20px;
padding: 10px;
text-align: start;
width: 40%;
letter-spacing: 1px;


font-family: "Inter", sans-serif;
font-weight: 50;
font-size: 12px;

}

.Chatting-container .input-contents{
margin-top: auto;
margin-bottom: 40px;
}